---
layout: default
---

<div class="posts" align="center">
    <article class="post">
     <div class="entry">
     <p>Hi there!</p>
     <p>I'm a professional experienced in Systems, Network and Security Operations.
     Enjoy problem solving and learning new technologies, self-learner.
     </p>
     <ul>
     </ul>
      </div>
    </article>
    <section id="article">
{% for post in site.posts limit:1  %}
{% if forloop.last %}
  <li>
    <a href="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
{% endif %}
{% endfor %}
</article>
</div>
